body {
    font-family: 'Outfit', sans-serif;
    background-color: black;
}

h1 {
    font-weight: normal;
    color: white;
    font-size: 1.5rem;
}

p {
    font-weight: normal;
    font-size: 15px;
}

.card {
    background-color: hsl(213, 25%, 14%);
    color: hsl(216, 12%, 54%);
    padding: 20px;
    border-radius: 20px;
    margin-top: 150px;
    margin-left: 16px;
    margin-right: 16px;
}

#icon {
    height: 15px;
    width: 15px;
    padding: 10px;
}

.circle {
    border-radius: 50%;
    background-color: hsl(213, 19%, 20%);
    display: inline-block;
    text-align: center;
    padding: 10px;
    color: hsl(216, 12%, 54%);
    height: 23px;
    width: 23px;
    font-size: 15px;
}



.number-container {
    display: flex;
    justify-content: space-between;
}

#submit-btn {
    width: 100%;
    margin: 0 auto;
    border-radius: 25px;
    background-color: hsl(25, 97%, 53%);
    color: white;
    padding: 15px 0;
}

#rate {
    display: block
}

#selection {
    color: hsl(25, 81%, 57%);
    border-radius: 25px;
    background-color: hsl(213, 19%, 20%);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
}

#thank-you {
    display: none;
    text-align: center;
    padding-top: 30px;
}

#thank-you-img {
    display: block;
    margin: 0 auto;
}

.attribution { 
    font-size: 11px; text-align: center; 
    color: white;
    margin-top: 20px;
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.active {
    background-color: hsl(216, 12%, 54%);
    color: white;
}

/* Pseudo classes */
.number-container div:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
    transition: background-color 0.3s ease-in-out;
}


/* CSS for laptop/desktop viewport */
@media screen and (min-width: 375px) {

}