body {
    font-family: 'Outfit', sans-serif;
}

h1 {
    font-weight: bold;
}

p {
    font-weight: normal;
}

.card {

}

.attribution { 
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* CSS for mobile viewport */
@media screen and (max-width: 375px) {

}