body {
    font-family: 'Outfit', sans-serif;
}

h1 {
    font-weight: normal;
    color: white;
}

p {
    font-weight: normal;
}

.card {
    background-color: hsl(213, 19%, 18%);
    color: hsl(216, 12%, 54%);
    padding: 10px;
    border-radius: 25px;
}

.circle {
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.number-container {
    display: flex;
    justify-content: space-evenly;
}

.submit-btn {
    width: 85%;
    margin: 0 auto;
    display: block;
    border-radius: 25px;
    background-color: hsl(25, 97%, 53%);
    color: white;
    padding: 15px 0;
}

#thank-you {
    display: none;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* CSS for mobile viewport */
@media screen and (max-width: 375px) {

}